body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.65em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background-image: linear-gradient(to right bottom, #4dbcfc, #4ab7f8, #47b2f4, #45adf0, #42a8ec, #40a4e9, #3fa1e7, #3d9de4, #3b99e1, #3a96df, #3892dc, #378fd9);
	padding-top: 100px;
	padding-bottom: 225px;
	color: #fff;
	height: 800px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}


